*
!.gitignore

!genshin
!genshin/**
genshin/config/*

!system
!system/**

!other
other/**
!other/restart.js
!other/sendLog.js
!other/update.js
!other/setPubCk.js
!other/version.js

!example
example/**
!example/留言.js
!example/一言.js
!example/喜报.js
!example/查委托.js
!example/谁at我.js
!example/onset.js
!example/主动复读.js
!example/进群退群通知.js
!example/舔狗日记.js
!example/电子木鱼.js
!example/GH仓库.js

*.psd
*.map